* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1200px;
  text-align: center;
}
.debug {
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
h1 {
  font-size: 3em;
  font-family: fantasy;
  color: #e5316d;
}
article {
  float: left;
  width: calc(100% / 3);
}
img {
  border: 1px solid black;
  width: 150px;
}
