* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}
.debug {
  border: 1px solid transparent;
  margin: 20px;
  padding: 20px;
}
body {
  background-color: antiquewhite;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  margin-top: 15px;
  background-color: beige;
  border-radius: 20px;
  border: 1px solid #e5316d;
  text-align: center;
  color: black;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.322);
}
section {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0;
}
main {
  color: white;
  max-width: 1200px;
  margin: 0 auto;
}
.write {
  border: 1px solid transparent;
  padding: 0;
  width: 50%;
  margin: 0 auto;
  margin-left: 10px;
  margin-top: 10px;
  line-height: 35px;
}
#name {
  font-weight: 600;
}
#email {
  color: #48b9e8;
  font-style: italic;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
h1 {
  font-size: 3em;
  color: #e5316d;
}

a {
  float: left;
  color: white;
  background-color: #0f0e17;
  margin: 20px 10px;
  width: calc(100% / 3 - 20px);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.322);
  transition: 1s ease;
}
a:hover {
  transform: scale(1.2);
}
p {
  float: left;
  width: calc(30% 70%);
}
img {
  width: 120px;
  float: left;
}
p {
  padding: 0;
  margin: 0;
}
